global
    log stdout format raw local0
    maxconn 2048

defaults
    log global
    mode tcp
    option tcplog
    retries 3
    timeout connect 5s
    timeout client 60s
    timeout server 60s
    timeout check 3s

resolvers docker
    nameserver dns 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold other 10s
    hold refused 10s
    hold nx 10s
    hold timeout 10s
    hold valid 5s
    hold obsolete 10s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /stats
    stats show-legends

frontend postgres_write
    bind *:5432
    default_backend postgres_primary

backend postgres_primary
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 2s fall 2 rise 2 on-marked-down shutdown-sessions resolvers docker resolve-prefer ipv4 init-addr libc,none
    server postgres1 postgres1:5432 check port 8008
    server postgres2 postgres2:5432 check port 8008
    server postgres3 postgres3:5432 check port 8008
